<div class="chat-container">

  <div class="chat-area">
    <div class="chat-config">
      <h4>Select Channel:</h4>
      <input type="radio" [(ngModel)]="channelData" value="general" [disabled]="isJoin">
      <label>General</label>
      <input type="radio" [(ngModel)]="channelData" value="random" [disabled]="isJoin">
      <label>Random</label>
      <br><br>
      <input type="text" class="chat-msgBox" [(ngModel)]="userName" placeholder="username" [disabled]="isJoin">
      <button *ngIf="!isJoin" class="chat-button" (click)="joinChannel()" [disabled]="!userName">JOIN</button>
      <button *ngIf="isJoin" class="chat-button" (click)="leaveChannel()">LEAVE</button>

    </div>
    <div class="chat-msgArea" #scrollMsg>
      <p *ngFor="let data of msgData"><b>{{data.username}}: </b>{{data.message}}</p>
    </div>
    <input type="text" class="chat-msgBox" [(ngModel)]="chatMsg" placeholder="type message..">
    <button class="primary chat-button" (click)="sendMsg()" [disabled]="!userName || !isJoin">SEND</button>
  </div>
  {{channelData}}
</div>
